html{
   box-sizing: border-box;
   font-size:62,5%; 
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*Sección de globles*/
body{
    font-family: 'Lato', sans-serif;
}

.contenedor{
    max-width: 1100px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}

h1{
   font-size: 2.4rem; 
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.2rem;
}

/* Uitlidades*/

.cambio-seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.texto-centrado{
    text-align: center;
}

.fw-300{
   font-weight: 300; 
}

.d-block{
    display: block !important;
}

.boton{
 color: #ffffff;
 font-weight: 700;
 text-decoration: none;
 padding: 0.8rem 3rem;
 margin-top: 1rem;
 display: inline-block;
 text-align: center;
}

.boton-amarillo{
  background-color: #E08709;
}

.boton-verde{
  background-color: #71B100;
}

.b-ver-todas{
    display: flex;
    justify-content: flex-end;
}


/* Estilos del Header*/
.site-header.inicio{
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 43rem;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}

.navegacion a{
    color: #ffffff;
    font-family: sans-serif;
    padding-right: 2rem;
    text-decoration:none;
}

.navegacion a:hover{ /*Pseudo selector*/
    color:#71B100;
}

.titulo-header{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-header h1{
    color:#ffffff;
    max-width:600px;
    line-height: 2;
    padding-bottom: 2rem ;
}

/*Iconos-index*/

.iconos-index{
   display:flex; 
   justify-content: space-between;
}

.icono{
    flex-basis: calc(33.3% - 2rem);
    text-align:center; 
    line-height: 2;
}

.icono h3{
    text-transform: uppercase;
}

/*Sección principal etiquetas*/

.contenedor-etiquetas{
    display: flex;
    justify-content: space-between;
}

.etiqueta{
    flex-basis: calc(33.3% - 1rem);
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
}

.texto-etiqueta{
    padding: 2rem;
}

.texto-etiqueta h3{
    margin: 0;
}

.texto-etiqueta p{
    line-height: 1.5;
}

.precio{
    color:#71B100;
    font-weight: 700;
}

.iconos-caracteristicas{
    list-style: none;
    padding:0;
    display: flex;
    justify-content: space-evenly;
}

.iconos-caracteristicas li{
    display: flex;
}

.iconos-caracteristicas li img{
    margin: 1rem;
}


/*Banner index*/
.banner{
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 20rem;
    display: flex;
    align-items: center;
}

.texto-banner{
    flex: 1;
    color: #ffffff;
}

.texto-banner p{
    font-size: 1rem;
}


/*Sección inferior*/

.seccion-inferior{
    display: flex;
    justify-content: space-between;
}

.blog{
  flex-basis: 65%;
}

.testimoniales{
  flex-basis: calc(35% - 1rem);
}

.blog-elementos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.imagen-blog{
    flex-basis: 40%;
}

.texto-blog{
    flex-basis: calc(60% - 2rem);
    line-height: 1.5;
}

.texto-blog h3{
    margin: 0;
}


.texto-blog h3::after{
    content: '';
    display: block;
    border: 1px #71B100 solid;
    width: 10rem;
    height: 0.5rem;
    background-color:#71B100;
}

.texto-testimoniales{
    background-color: #71B100;
    padding: 1.5rem;
    color:#ffffff;
    line-height: 2;
    border-radius: 1.5rem;
    text-align: left;
    font-size: 1.2rem;
}


.texto-testimoniales p{
    text-align: end;
    font-weight: 700;

}

.texto-testimoniales blockquote::before{
    content: ' ';
    background-image: url(../img/comilla.svg);
    width:3rem;
    height: 3rem;
    position: absolute;
    left:-2rem;
}

.texto-testimoniales blockquote{
    position: relative;
    padding-left: 2rem;
}

/*Footer*/

.footer{
    background-color: #454545;
   
}

.contenedor-footer{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.footer h4{
   color: #ffffff; 
}

.footer h4:last-of-type{
   margin: 0; 
}

